<h2>NOT FINISHED YET</h2>
<table class="stats">
    <tr class="stats">
        <th class="stats">Year</th>
        <th class="stats">Age</th>
        <th class="stats">Tm</th>
        <th class="stats">Lg</th>
        <th class="stats">G</th>
        <th class="stats">PA</th>
        <th class="stats">AB</th>
        <th class="stats">R</th>
        <th class="stats">H</th>
        <th class="stats">2B</th>
        <th class="stats">3B</th>
        <th class="stats">HR</th>
        <th class="stats">RBI</th>
        <th class="stats">SB</th>
        <th class="stats">CS</th>
        <th class="stats">BB</th>
        <th class="stats">SO</th>
        <th class="stats">AVG</th>
        <th class="stats">OBP</th>
        <th class="stats">SLG</th>
        <th class="stats">OPS</th>
        <th class="stats">OPS+</th>
        <th class="stats">TB</th>
        <th class="stats">GDP</th>
        <th class="stats">HBP</th>
        <th class="stats">SH</th>
        <th class="stats">SF</th>
        <th class="stats">IBB</th>
        <th class="stats">Pos</th>
        <th class="stats">Awards</th>
    </tr>
    {% for x in season_hitting_stats %}
    <tr>
        <td class="stats">Year</td>
        <td class="stats">Age</td>
        <td class="stats">Team</td>
        <td class="stats">Lg</td>
        <td class="stats">Year</td>
        <td class="stats">Year</td>
        <td class="stats">Year</td>
    </tr>
    {% endfor %}
</table>
