{% extends 'homepage/base.html' %}

{% block page_title %}
<title>BAD League-Trades</title>
{% endblock page_title %}

{% block content %}
<h1>Trades in {{year}}</h1>
    <ul>
    <!--{% for t in trades %}-->
        <!--<li>{{t.date}} Trade between {{t}}-->
            <!--&lt;!&ndash;{% for tm in t.teams%}&ndash;&gt;-->
            <!--&lt;!&ndash;{{tm.location}}&ndash;&gt;-->
            <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
        <!--</li>-->
    <!--{% endfor %}-->
    </ul>
{% endblock content %}