{% extends 'homepage/base.html' %}

{% block page_title %}
<title>BAD League-Trades</title>
{% endblock page_title %}

{% block content %}
<h1>Trades in {{year}}</h1>
    <ul>
        {% for t in trades %}
        <li>
            <a href="{% url 'league:trade_detail' t.trade.0.id %}">
                {{t.trade.0.date|date:'M jS'}} Trade between
                {% for tm in t.trade.0.teams.all %}
                    {{tm.location}}
                    {% if forloop.revcounter0 >= 2 %}, {% endif %}
                    {% if forloop.revcounter0 == 1 %}and{% endif %}
                {% endfor %}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}