{% extends 'homepage/base.html' %}
{% load static %}

{% block page_title%}
    <title>{{team.year}} {{team.location}} {{team.nickname}}</title>
{% endblock page_title %}

{% block part_header %}
    {% include 'league/team/header.html' %}
{% endblock part_header %}

{% block part_navigation %}
    <h2><a href="{% url 'league:team_roster' team.team.year team.team.abbreviation %}">Roster</a> |
        <a href="{% url 'league:team_stats' team.team.year team.team.abbreviation %}">Statistics</a> |
        <a href="{% url 'league:team_contracts' team.team.year team.team.abbreviation %}">Contracts</a> |
        <a href="{% url 'league:team_arbitration' team.team.year team.team.abbreviation %}">Arbitration</a> |
        Draft Results |
        <a href="{% url 'league:team_draft_picks' team.team.year team.team.abbreviation %}">Draft Picks</a>
    </h2>
{% endblock part_navigation %}
