{% extends "./base.html" %}

{% load humanize %}
{% load players_tags %}
{% block content %}
<table>
    <tr>
        <th>Player</th>
        <th>Contract</th>
        <th>{{team.year}}</th>
        <th>{{team.year|add:"+1"}}</th>
        <th>{{team.year|add:"+2"}}</th>
        <th>{{team.year|add:"+3"}}</th>
        <th>{{team.year|add:"+4"}}</th>
    </tr>
    {% for p in contracts %}
    <tr>
        <td><a href="{% url 'league:player_detail' p.player_id %}">{{p.player.last_name}}, {{p.player.first_name}}</a></td>
        <td align="center">{{p.display_contract}}</td>
        <td align="right">${{p.salary | intcomma}}</td>
        <td align="right">{{ p | plus_years:1 }}</td>
        <td align="right">{{ p | plus_years:2 }}</td>
        <td align="right">{{ p | plus_years:3 }}</td>
        <td align="right">{{ p | plus_years:4 }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><strong>Total Payroll</strong></td>
        <td align="right"><strong>${{total_payroll.0|intcomma}}</strong></td>
        <td align="right"><strong>${{total_payroll.1|intcomma}}</strong></td>
        <td align="right"><strong>${{total_payroll.2|intcomma}}</strong></td>
        <td align="right"><strong>${{total_payroll.3|intcomma}}</strong></td>
        <td align="right"><strong>${{total_payroll.4|intcomma}}</strong></td>
    </tr>
    {% for a in adjustments %}
    <tr>
        <td colspan="2">{{a.notes}}</td>
        {% if a.adjustments.0 %}
            <td align="right">${{a.adjustments.0|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if a.adjustments.1 %}
            <td align="right">${{a.adjustments.1|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if a.adjustments.2 %}
            <td align="right">${{a.adjustments.2|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if a.adjustments.3 %}
            <td align="right">${{a.adjustments.3|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if a.adjustments.4 %}
            <td align="right">${{a.adjustments.4|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><strong>Total Adjustments</strong></td>
        <td align="right"><strong>${{total_adjustments.0|intcomma}}</strong></td>
        <td align="right"><strong>${{total_adjustments.1|intcomma}}</strong></td>
        <td align="right"><strong>${{total_adjustments.2|intcomma}}</strong></td>
        <td align="right"><strong>${{total_adjustments.3|intcomma}}</strong></td>
        <td align="right"><strong>${{total_adjustments.4|intcomma}}</strong></td>
    </tr>
    <tr>
        <td colspan="2"><strong>Payroll + Adjustments</strong></td>
        <td align="right"><strong>${{net_payments.0|intcomma}}</strong></td>
        <td align="right"><strong>${{net_payments.1|intcomma}}</strong></td>
        <td align="right"><strong>${{net_payments.2|intcomma}}</strong></td>
        <td align="right"><strong>${{net_payments.3|intcomma}}</strong></td>
        <td align="right"><strong>${{net_payments.4|intcomma}}</strong></td>
    </tr>
    <tr>
        <td colspan="2"><strong>Salary Cap</strong></td>
        <td align="right"><strong>${{salary_cap.0|intcomma}}</strong></td>
        <td align="right"><strong>${{salary_cap.1|intcomma}}</strong></td>
        <td align="right"><strong>${{salary_cap.2|intcomma}}</strong></td>
        <td align="right"><strong>${{salary_cap.3|intcomma}}</strong></td>
        <td align="right"><strong>${{salary_cap.4|intcomma}}</strong></td>
    </tr>
    <tr>
        <td colspan="2"><strong>Total Remaining</strong></td>
        <td align="right"><strong>${{net_remaining.0|intcomma}}</strong></td>
        <td align="right"><strong>${{net_remaining.1|intcomma}}</strong></td>
        <td align="right"><strong>${{net_remaining.2|intcomma}}</strong></td>
        <td align="right"><strong>${{net_remaining.3|intcomma}}</strong></td>
        <td align="right"><strong>${{net_remaining.4|intcomma}}</strong></td>
    </tr>
</table>
{% endblock %}