{% extends "./base.html" %}

{% load humanize %}
{% load players_tags %}
{% block content %}
<table>
    <tr>
        <th>Player</th>
        <th>Contract</th>
        <th>{{header.team.year}}</th>
        <th>{{header.team.year|add:"+1"}}</th>
        <th>{{header.team.year|add:"+2"}}</th>
        <th>{{header.team.year|add:"+3"}}</th>
        <th>{{header.team.year|add:"+4"}}</th>
    </tr>
    {% for p in payroll.contracts %}
    <tr>
        <td><a href="{% url 'league:player_detail' p.player_id %}">{{p.player.last_name}}, {{p.player.first_name}}</a></td>
        <td align="center">{{p.display_contract}}</td>
        <td align="right">${{p.salary | intcomma}}</td>
        <td align="right">{{ p | plus_years:1 }}</td>
        <td align="right">{{ p | plus_years:2 }}</td>
        <td align="right">{{ p | plus_years:3 }}</td>
        <td align="right">{{ p | plus_years:4 }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><strong>Total Payroll</strong></td>
        {% for i in payroll.total_payroll %}
            <td align="right"><strong>${{i|intcomma}}</strong></td>
        {% endfor %}
    </tr>
    {% for a in payroll.adjustments %}
    <tr>
        <td colspan="2">{{a.notes}}</td>
        {% if a.adjustments.0 %}
            <td align="right">${{a.adjustments.0|intcomma}}</td>
        {% else %}
            <td>x{{i}}</td>
        {% endif %}
        {% if a.adjustments.1 %}
            <td align="right">${{a.adjustments.1|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if a.adjustments.2 %}
            <td align="right">${{a.adjustments.2|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if a.adjustments.3 %}
            <td align="right">${{a.adjustments.3|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if a.adjustments.4 %}
            <td align="right">${{a.adjustments.4|intcomma}}</td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><strong>Total Adjustments</strong></td>
        {% for i in payroll.total_adjustments %}
            <td align="right"><strong>${{i|intcomma}}</strong></td>
        {% endfor %}
    </tr>
    <tr>
        <td colspan="2"><strong>Payroll + Adjustments</strong></td>
        {% for i in payroll.net_payments %}
            <td align="right"><strong>${{i|intcomma}}</strong></td>
        {% endfor %}
    </tr>
    <tr>
        <td colspan="2"><strong>Salary Cap</strong></td>
        {% for i in payroll.salary_cap %}
            <td align="right"><strong>${{i|intcomma}}</strong></td>
        {% endfor %}
    </tr>
    <tr>
        <td colspan="2"><strong>Total Remaining</strong></td>
        {% for i in payroll.net_remaining %}
            <td align="right"><strong>${{i|intcomma}}</strong></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}