{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
    {% if last_year in year_list %}
        <h2><a href="{% url 'league:team_index' last_year %}">Previous Year</a> </h2>
    {% endif %}
    <h1>{{year}} BAD League Teams</h1>
    {% if next_year in year_list %}
        <h2><a href="{% url 'league:team_index' next_year %}">Next Year</a> </h2>
    {% endif %}
    <table border="1">
        <tr>
            <th colspan="2">Team</th>
            <th>Owner</th>
            <th>Ballpark</th>
            <th>Division</th>
        </tr>
        {% for team in team_list %}
            <tr>
                <td><img src="{% static "league/" %}{{year}}{{team.abbreviation}}.jpg"
                    alt="{{team.location}} {{team.nickname}} Logo"/> </td>
                <td><a href="{% url 'league:team_detail' year team.abbreviation %}">{{team.location}} {{team.nickname}}</a></td>
                {% if user %}
                    <td><a href="mailto:{{team.owner.email}}">{{team.owner.first_name}} {{team.owner.last_name}}</a> </td>
                {% else %}
                    <td>{{team.owner.first_name}} {{team.owner.last_name}}</td>
                {% endif %}
                <td>{{team.ballpark.year}} {{team.ballpark.location}}</td>
                <td>{{team.get_division_display}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}