{% extends 'homepage/base.html' %}
{% block page_title %}
    <title>{{player.first_name}} {{player.last_name}} Player Page</title>
{% endblock %}
{% block content%}
<style>
    h1.head {
        font-size: 1.5em;
    }
    p.head {
        font-size: 0.875em;
    }
    .head {
        font-family: Helvetica;
    }
    th.summary_header {
        color: tomato;
        font: 14px serif;
    }
    th.summary {
        text-align: center;
        color: tomato;
        font: 14px serif;
    }
    td.summary_header {
        text-align: left;
        font: bold 16px serif;
    }
    td.summary {
        text-align: center;
    }
    .section_heading {
        color: #82081b;
        font: bold 1.475em Helvetica;
    }
    th.stats {
        color: #82081b;
        background-color: #eee;
        vertical-align: center;
        height: 30px;
        width: 60px;
        padding: 0;
        border-width: 2px 0 2px 0;
        border-style: solid;
        border-color: #747697;
    }
    table {
        border-collapse: collapse;
    }
    .left {
        background-color: LightBlue;
    }
    .right {
        background-color: Pink;
    }
    td.left, td.right {
        text-align: right;
    }

</style>
<!--Header-->
{% include 'league/player/header.html' %}
<!--BAD League Stats    -->
{% if player.player_type in 'hx' %}
    <h2 class="section_heading">Standard Batting (BAD)</h2>
    {% include 'league/stats/one_player_hitter.html' %}
{% endif %}
{% if player.player_type in 'px' %}
    <h2 class="section_heading">Standard Pitching (BAD)</h2>
{% endif %}
<!--Playoff Stats-->
<!--MLB Stats    -->
{% if player.player_type in 'hx' %}
    <h2 class="section_heading">Standard Batting (MLB)</h2>
    {% include 'league/stats/one_player_hitter.html' %}
{% endif %}
{% if player.player_type in 'px' %}
    <h2 class="section_heading">Standard Pitching (MLB)</h2>
{% endif %}
<!--Card Stats-->
{% if player.player_type in 'hx' %}
    <h2 class="section_heading">Hitting Card Stats</h2>
    {% include 'league/card_stats/one_player_hitter.html' %}
{% endif %}
{% if player.player_type in 'px' %}
    <h2 class="section_heading">Pitching Card Stats</h2>
    {% include 'league/card_stats/one_player_pitcher.html' %}
{% endif %}
<!--Player Cards-->
{% if player.player_type in 'hx' %}
    <h2 class="section_heading">Hitting Card</h2>
    <p>No Cards entered yet</p>
    <!--{% include 'league/card_stats/one_player_hitter.html' %}-->
{% endif %}
{% if player.player_type in 'px' %}
    <h2 class="section_heading">Pitching Card</h2>
    <p>No Cards entered yet</p>
    <!--{% include 'league/card_stats/one_player_pitcher.html' %}-->
    {% endif %}
<p>Player detail page not finished.</p>
{% endblock %}